.navbar{
    display:flex;
    background-color: #f6f6f6;
    padding-top: 10px;
    border-bottom: 1px solid rgb(184, 182, 182);
    height: 11%;
}

.searchInput{
    color: black;
    border-radius: 50px;
    width: 25%;
    height: 10%;
    padding: 20px;
    border-color: #6c2ebe;
    margin-left: 65%;
}

.searchButton{
    width: 3%;
    height: 60%;
    border-radius: 60px;
    border: none;
    background: #6c2ebe;
    color: #f6f6f6;
    margin-top: 5px;
    
}

img{
    height: 70%;
}

